.container2{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(40deg, #150485, #590995, #c62a88 );
}

.centro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gerenciamento alunos ========================== */
.gerenciaAluno{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #eeeeee;
}

.alunos{
    width: 100%;
}

span{
    font-size: 18px;
    font-weight: normal;
}

.botoes img{
    width: 40px;
}

.botoes{
    border: none;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    transition: background .2s;
}

.botoes:hover{
    transition: background .2s;
    background: #c62a885e;
}

.bCadastro{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.newAluno{
    background: #49AA26;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17.5px;
    height: 50px;
    width: 85%;
}

.newAluno:hover{
    transition: background .2s;
}

table{
    border-collapse: collapse;
}

table tr:not(:first-child):hover{
    background-color:#e0e0e0;
}

tr.border_bottom th:first-child {
    border-radius: 2px;
    border-left: 2.5px solid #590995;
}

.bSidebarClicked{
    background-color:#c62a88b7;
}

/* Editar Aluno ========================== */

.titulo{
    background: #150485b9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.Editar{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.048);
    box-shadow: 0 0 1em #0000005b;
}

.divAtt{
    padding-left: 10px;
    padding-top: 10px;
}

.divAtt input{
    padding-left: 10px;
    font-size: 17.5px;
    width: 99.4%;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.divAtt input:focus{
    border-bottom: 2px solid #000000;
}

.divAttButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.divAttButton button{
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17.5px;
    height: 70px;
    width: 49%;
}

/* Excluir Aluno ========================== */

.excluir{
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.048);
    box-shadow: 0 0 1em #0000005b;
}

.divExc  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divExc p {
    padding-left: 10px;
    font-size: 19px;
}

.divExcButton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.divExcButton button{
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17.5px;
    height: 50px;
    margin-top: 10px;
    width: 49%;
}

/* Gerencia Treinos ========================== */

.criarTreino{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    transition: background .2s;
    color: white;
    background-color: #49AA26;
}

.criarTreino:hover{
    background: #3dd705;
    transition: background .2s;
}

.divInputs label{
    font-weight: 400;
}






/* Modal Criar Aluno ========================== */

.modal-overlay-criarAluno{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay-criarAluno.ativo{
    opacity: 1;
    visibility: visible;
}

/* Modal Cadastrar Professor ========================== */

.modal-overlay-criarProfessor{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay-criarProfessor.ativo{
    opacity: 1;
    visibility: visible;
}

/* Modal ========================== */

.modal{
    width: 500px;
    background: #f0f2f5;
    padding: 40px;
    border-radius: 10px;
}

.modal input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 14px;
    width: 100%;
    font-size: 17.5px;
}

.modal input:focus{
    border-bottom: 2px solid #000000;
}

.erro{
    border: 2px solid #ff0000;
}

.divInputs{
    margin-top: 12px;
}

.divButtonModal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}

.divButtonModal > button{
    width: 48%;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17.5px;
}

.bCancelar{
    background: #e92929;
    opacity: 0.6;
}

.bCancelar:hover{
    opacity: 1;
}

.bCadastar{
    background: #49AA26;
}

.bCadastar:hover{
    background: #3dd705;
}