/* Global ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header ========================== */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-area: header;
    background-image: linear-gradient(40deg, #150485, #590995, #c62a88);
}

.menu {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 50px;
    margin-left: 22px;
    font-size: 32px;
    color: rgb(231, 230, 230);
    transition: background .2s;
}

.menu:hover {
    transition: background .2s;
    background: #afafaf6c;
}

/* Buttons ========================== */
button {
    background: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar ========================== */
.sidebar {
    margin-top: 0;
    background-color: #e0e0e0;
    height: 100%;
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    align-items: center;
}

.bSidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: none;
    width: 87%;
    height: 125px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    margin-top: 10px;
    transition: background .2s;
}

.bSidebar:hover {
    transition: background .2s;
    background: #c62a88b7;
}

.imgSidebar {
    width: 40px;
}

.bSidebarMenor {
    font-size: 0;
    height: 80px;
    width: 80%;
}

.imgSidebarMenor {
    width: 50px;
}

@media (min-width: 768.1px){
    body{
        display: grid;
        grid-template-rows: 62px 80%;
        grid-template-areas: 
        'header header'
        'conteudo conteudo'
    }

    .container{
        width: 100vw;
        height: calc(100vh - 62px);
        grid-area: conteudo;
        display: grid;
        grid-template-columns: 110px auto;
        grid-template-areas: "sidebar container";
    }

    .containerMaior{
        grid-area: conteudo;
        display: grid;
        grid-template-columns: 85px auto;
        grid-template-areas: "sidebar container";
    }
}

/* Responsividade ========================== */
@media (max-width: 768px) {
    .sidebar {
        visibility: hidden;
    }
    .sidebarMobile {
        visibility: visible;
        width: 100%;
    }
    .sidebar > button {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 110px;
        font-size: 18px;
    }
    .sidebar > button > img {
        width: 50px;
    }
}