/* Global ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(40deg, #150485, #590995, #c62a88 );
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons ========================== */
button{
    cursor: pointer;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* Modal ========================== */
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.ativo{
    opacity: 1;
    visibility: visible;
}

.modal{
    width: 500px;
    background: #f0f2f5;
    padding: 40px;
    border-radius: 10px;
}

.modal-erro{
    position: absolute;
    top: 3%;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff0000;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-erro.ativo{
    opacity: 1;
    visibility: visible;
}

.modal input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 14px;
    width: 100%;
    font-size: 17.5px;
}

.modal input:focus{
    border-bottom: 2px solid #000000;
}

.divInputs{
    margin-top: 12px;
    color: purple;
}

.divButtonModal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}
.divButtonModal > button{
    width: 48%;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 17.5px;
}

.bCancelar{
    background: #e92929;
    opacity: 0.6;
}

.bCancelar:hover{
    opacity: 1;
}

.bLogar{
    background: #49AA26;
}

.bLogar:hover{
    background: #3dd705;
}

/* Tela inicial ========================== */
.box {
    width: 550px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1em #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.divButton{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
}

.box > h2{
    margin-bottom: 48px;
    text-align: center;
    color: #e7e5e5;
}

.divButton > button > img{
    width: 50px;
    margin: 10px;
}

.divButton > button {
    width: 228px;
    height: 100px;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    background:#e7e5e5;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: border-bottom .2s;
}

.aluno:hover{
    border-bottom: 8px solid #630ba7;
    transition: border-bottom .2s;
}

.funcionario:hover{
    border-bottom: 8px solid #c62a88;
    transition: border-bottom .2s;
}

@media (max-width: 700px){

    .box {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .divButton{
        display: flex;
        flex-direction: column;
    }

    .divButton > button {
        width: 100%;
        margin: 8px;
        font-size: 22px;
    }

    .divButton > img{
        width: 60px;
    }

    .modal{
        max-width: 500px;
        width: 90%;
    }   

    .divButtonModal{
        display: flex;
        flex-direction: column;
    }

    .divButtonModal > button{
        width: 100%;
        height: 50px;
    }

    .bLogar{
        margin-top: 12px;
    }

    .modal-erro{
        max-width: 500px;
        width: 90%;
    }
}
