* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, arial;
}

body {
    background: url(../images/fundo-de-neon-rosa_53876-91656.jpg);
    background-size: 100% 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px;
    background: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:solid 1px #F63DE2;

}
h2{
    font-size:30px;
    text-align:center;
    
}
button {
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #F63DE2);
    background-image: -moz-linear-gradient(top, #1E62D0, #F63DE2);
    background-image: -ms-linear-gradient(top, #1E62D0, #F63DE2);
    background-image: -o-linear-gradient(top, #1E62D0, #F63DE2);
    background-image: -webkit-gradient(to bottom, #1E62D0, #F63DE2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 35px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #EB00FF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

button:hover {
    border: solid #0059A0 1px;
    background: #B73EC1;
    background-image: -webkit-linear-gradient(top, #B73EC1, #1E62D0);
    background-image: -moz-linear-gradient(top, #B73EC1, #1E62D0);
    background-image: -ms-linear-gradient(top, #B73EC1, #1E62D0);
    background-image: -o-linear-gradient(top, #B73EC1, #1E62D0);
    background-image: -webkit-gradient(to bottom, #B73EC1, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}